<h2 style="font-family:'Helvetica Neue',Helvetica,sans-serif; font-weight:200; font-size: 35px; line-height: 42px; color:#949c9e;">
  Sie sind eingeladen!</h2>
<p style="font-family:'Helvetica Neue',Helvetica,sans-serif; font-size: 14px; line-height: 19px; color:#5f6a6d;">
  Sie wurden von
  <b>
    {{#if user.profile.firstName}}
    {{user.profile.firstName}} {{user.profile.lastName}} ({{ user.email }})
    {{else}}
    {{ user.email }}
    {{/if}}
  </b>
  zum
  <b>Projekt „{{project.title}}“</b> eingeladen.</p>

{{#if template.includeactivationlink}}

<br><br>
<table border="0" cellpadding="15" cellspacing="0" width="100%" bgcolor="#f7d9d9"
       style="-moz-border-radius:8px;border-radius:8px;-webkit-border-radius:8px;-ms-border-radius:8px;-o-border-radius:8px;">
  <tr>
    <td align="left" valign="top">
      <h3 style="font-family:'Helvetica Neue',Helvetica,sans-serif; font-weight:600; font-size: 21px; line-height: 25px; color:#d54040; border-bottom:1px dotted #d54040">
        Achtung:</h3>

      <p style="font-family:'Helvetica Neue',Helvetica,sans-serif; font-size: 14px; line-height: 19px; color:#d54040;">
        <b>Ihr Benutzerkonto wurde noch nicht aktiviert!</b></p>

      <p style="font-family:'Helvetica Neue',Helvetica,sans-serif; font-size: 14px; line-height: 19px; color:#d54040;">
        Klicken Sie dazu auf folgenden Link:
        <br>
        <a style="color:#259DB5; text-decoration:underline; -ms-word-break: break-all; word-break: break-all; word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto;"
           href="{{activationurl}}">Meinen Account jetzt aktivieren</a></p>

      <p style="font-family:'Helvetica Neue',Helvetica,sans-serif; font-size: 14px; line-height: 19px; color:#d54040;">
        <b>Ihre Benutzerdaten:</b><br>
        E-Mail Adresse:
        <a style="color:#d54040; text-decoration:underline; word-wrap:break-word;" href="mailto:{{invitee.email}}">{{invitee.email}}</a><br>
        Passwort: {{password}}
      </p>

    </td>
  </tr>
</table>

{{else}}

<p style="font-family:'Helvetica Neue',Helvetica,sans-serif; font-size: 14px; line-height: 19px; color:#5f6a6d;">
  Der folgende Link führt Sie über die Anmeldung direkt zum Projekt:
  <br>
  <a style="color:#259DB5; text-decoration:underline; -ms-word-break: break-all; word-break: break-all; word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto;"
     href="{{host}}projects/{{project._id}}/plans/">{{project.title}}</a>
</p>

{{/if}}