<h2 style="font-family:'Helvetica Neue',Helvetica,sans-serif; font-weight:200; font-size: 35px; line-height: 42px; color:#949c9e;">
Ihr neues Passwort.</h2>

<p style="font-family:'Helvetica Neue',Helvetica,sans-serif; font-size: 14px; line-height: 19px; color:#5f6a6d;">
Das neue Passwort für das Benutzerkonto <a style="color:#259DB5; text-decoration:underline;" href="mailto:{{user.email}}">{{user.email}}</a> lautet: <b>{{password}}</b>
</p>

{{#if template.includeactivationlink}}

<br><br>
<table border="0" cellspacing="25" cellpadding="0" cellspacing="0" width="100%" bgcolor="#f7d9d9"
style="-moz-border-radius:8px;border-radius:8px;-webkit-border-radius:8px;-ms-border-radius:8px;-o-border-radius:8px;">
  <tr>
    <td align="left" valign="top">
      <h3 style="font-family:'Helvetica Neue',Helvetica,sans-serif; font-weight:600; font-size: 21px; line-height: 25px; color:#d54040; border-bottom:1px dotted #d54040">
      Achtung:</h3>

      <p style="font-family:'Helvetica Neue',Helvetica,sans-serif; font-size: 14px; line-height: 19px; color:#d54040;">
      <b>Ihr Benutzerkonto wurde noch nicht aktiviert!</b></p>

      <p style="font-family:'Helvetica Neue',Helvetica,sans-serif; font-size: 14px; line-height: 19px; color:#d54040;">
      Klicken Sie dazu auf folgenden Link:<br>
      <a style="color:#259DB5; text-decoration:underline; -ms-word-break: break-all; word-break: break-all; word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto;"
      href="{{activationurl}}">{{activationurl}}</a></p>

    </td>
  </tr>
</table>

{{else}}

<p style="font-family:'Helvetica Neue',Helvetica,sans-serif; font-size: 14px; line-height: 19px; color:#5f6a6d;">
Der folgende Link führt Sie direkt zum Login:
<br>
<a style="color:#259DB5; text-decoration:underline; -ms-word-break: break-all; word-break: break-all; word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto;"
href="{{loginurl}}">{{loginurl}}</a>
</p>



{{/if}}